* {
  box-sizing: border-box;
}

body {
  background-color: #01579b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

h3 {
  margin: 0.5em 0;
  font-weight: 400;
}

.title {
  text-align: center;
  margin: 1.5em 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  font-size: 3em;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 5px;
  z-index: -1;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -14px;
  background-color: white;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.content:before {
  height: 0;
  content: " ";
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
  border: medium solid white;
}

.content-left::before {
  right: -10px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.content-right::before {
  left: -10px;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -14px;
}

/* GITHUB corner */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.content {
  position: relative;
  display: flex;
}

.content-body {
  padding: 10px 20px;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  flex: 1;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.content-logo {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 0px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.content-logo-left {
  order: 1;
  margin-right: 0px;
  margin-left: 15px;
}

.content-logo-right {
  order: 0;
  margin-right: 15px;
  margin-left: 0px;
}

.logo {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.link {
  background-color: #000;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  text-decoration: none;
  transition: 0.2s all;
  border: none;
  padding: 0;
}

.link:focus {
  outline: none;
}

.link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.fa {
  color: #fff;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .content::before {
    left: -10px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .content {
    flex-direction: column;
  }

  .content-logo {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    width: 100%;
  }

  .content-logo-left {
    order: 0;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s all;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-logo {
  display: flex;
  width: 80px;
  height: 80px;
  min-width: 80px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 0px;
  border: 1px solid #aaa;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.4s all;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
